{% load static %}
<!-- templates/about.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
     <title>{{ portfolio.name }}'s Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1 class="logo">Jamin<span>Juma</span></h1>
        <ul class="navmenue">
            <a href="#">About Me</a>
            <a href="{% url 'skills' %}">Skills</a>
            <a href="#">Projects</a>
            <a href="#">Contacts</a>
        </ul>
    </header>
    <section>

        
    </section>
  <section class="profile-detail">
    <div class="profile">
        <div class="details">
            <h1>{{ portfolio.name }}</h1>
            <p>{{ portfolio.bio }}</p>
        </div>
    </div>
  </section>
  <footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h2>Jamin Juma</h2>
      <p>Software Developer</p>
      <p>Machine Learning Enthusiast</p>
    </div>

    <div class="footer-section contacts">
      <h2>Contacts</h2>
      <a href="#">Email</a>
      <a href="#">Tiktok</a>
      <a href="#">Linkedin</a>
      <a href="#">Whatsapp</a>
      <a href="#">Facebook</a>
      <a href="#">Upwork</a>
    </div>

    <div class="footer-section links">
      <h2>Projects</h2>
      <a href="#">Machine Learning Projects</a>
      <a href="#">Website Projects</a>
      <a href="#">Collaboration Projects</a>
    </div>

    <div class="footer-section skills">
      <h2>Skills</h2>
      <a href="#">Python</a>
      <a href="#">Django</a>
      <a href="#">Machine Learning</a>
      <a href="#">HTML</a>
      <a href="#">CSS</a>
      <a href="#">JavaScript</a>
      <a href="#">Graphic Design</a>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; 2025 Jamin Juma | All rights reserved
  </div>
</footer>
    <script src="{% static 'css/jamin.js' %}"></script>
</body>
</html>
